@import "tailwindcss";
@import "@heroui/styles";

@source "../node_modules/@heroui/react/dist";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*
 * HeroUI Theme Customization
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(83.00% 0.2500 202.00);
  --accent-foreground: oklch(15% 0.0300 202.00);
  --background: oklch(97.02% 0.0185 202.00);
  --border: oklch(90.00% 0.0185 202.00);
  --danger: oklch(65.32% 0.2414 19.52);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0185 202.00);
  --default-foreground: oklch(21.03% 0.0059 202.00);
  --field-background: oklch(100.00% 0.0093 202.00);
  --field-foreground: oklch(21.03% 0.0185 202.00);
  --field-placeholder: oklch(55.17% 0.0371 202.00);
  --focus: oklch(83.00% 0.2500 202.00);
  --foreground: oklch(21.03% 0.0185 202.00);
  --muted: oklch(55.17% 0.0371 202.00);
  --overlay: oklch(100.00% 0.0056 202.00);
  --overlay-foreground: oklch(21.03% 0.0185 202.00);
  --scrollbar: oklch(87.10% 0.0185 202.00);
  --segment: oklch(100.00% 0.0185 202.00);
  --segment-foreground: oklch(21.03% 0.0185 202.00);
  --separator: oklch(92.00% 0.0185 202.00);
  --success: oklch(73.29% 0.2007 144.59);
  --success-foreground: oklch(21.03% 0.0059 144.59);
  --surface: oklch(100.00% 0.0093 202.00);
  --surface-foreground: oklch(21.03% 0.0185 202.00);
  --surface-secondary: oklch(95.24% 0.0148 202.00);
  --surface-secondary-foreground: oklch(21.03% 0.0185 202.00);
  --surface-tertiary: oklch(93.73% 0.0148 202.00);
  --surface-tertiary-foreground: oklch(21.03% 0.0185 202.00);
  --warning: oklch(78.19% 0.1644 66.11);
  --warning-foreground: oklch(21.03% 0.0059 66.11);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.5rem;

  /* Font Family */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(83.00% 0.2500 202.00);
  --accent-foreground: oklch(15% 0.0300 202.00);
  --background: oklch(12.00% 0.0185 202.00);
  --border: oklch(28.00% 0.0185 202.00);
  --danger: oklch(59.40% 0.2040 18.41);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0185 202.00);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0371 202.00);
  --field-foreground: oklch(99.11% 0.0185 202.00);
  --field-placeholder: oklch(70.50% 0.0371 202.00);
  --focus: oklch(83.00% 0.2500 202.00);
  --foreground: oklch(99.11% 0.0185 202.00);
  --muted: oklch(70.50% 0.0371 202.00);
  --overlay: oklch(21.03% 0.0371 202.00);
  --overlay-foreground: oklch(99.11% 0.0185 202.00);
  --scrollbar: oklch(70.50% 0.0185 202.00);
  --segment: oklch(39.64% 0.0185 202.00);
  --segment-foreground: oklch(99.11% 0.0185 202.00);
  --separator: oklch(25.00% 0.0185 202.00);
  --success: oklch(73.29% 0.2007 144.59);
  --success-foreground: oklch(21.03% 0.0059 144.59);
  --surface: oklch(21.03% 0.0371 202.00);
  --surface-foreground: oklch(99.11% 0.0185 202.00);
  --surface-secondary: oklch(25.70% 0.0278 202.00);
  --surface-secondary-foreground: oklch(99.11% 0.0185 202.00);
  --surface-tertiary: oklch(27.21% 0.0278 202.00);
  --surface-tertiary-foreground: oklch(99.11% 0.0185 202.00);
  --warning: oklch(82.03% 0.1439 70.12);
  --warning-foreground: oklch(21.03% 0.0059 70.12);
}

