@import "tailwindcss";
@import "@heroui/styles";

@source "../node_modules/@heroui/react/dist";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*
 * HeroUI Theme Customization
 * @see https://heroui.com/docs/react/getting-started/theming
 */

